:root {
    --branch-color: gold;
    --branch-color2: goldenrod;
    --branch-size: 100px;

}

.star {
    display: grid;

    .branch {
        grid-column: 1;
        grid-row: 1;
        height: calc(cos(36deg) * var(--branch-size));
        width: calc(sin(36deg) * var(--branch-size) * 2);
        background: linear-gradient(to right, var(--branch-color) 0 50%, var(--branch-color2) 50% 100%);
        clip-path: polygon(0 0, 50% 50%, 100% 0, 50% 100%);
        transform-origin: center bottom;
        rotate: calc(72deg * var(--r, 0) + 36deg);
        &:nth-child(2) {
            --r: 1;
        }
        &:nth-child(3) {
            --r: 2;
        }
        &:nth-child(4) {
            --r: 3;
        } 
        &:nth-child(5) {
            --r: 4;
        }
    }
}
