:root {
    --snowflake: rgb(20, 255, 208, 0.5);
    --width: 20px;
}

.snowflake {
    display: grid;

    & .part {
        display: grid;
        grid-row: 1;
        grid-column: 1;
        transform-origin: bottom;
        rotate: calc(45deg * var(--r));
        & div {
            grid-row: 1;
            grid-column: 1;
            align-items: start;
            width: var(--width);
            background-color: var(--snowflake);
            border-radius: var(--width);
            transform-origin: bottom;
            &:nth-child(1) {
                aspect-ratio: 1 / 6;
            }
            &:nth-child(2) {
                aspect-ratio: 1 / 2;
                rotate: 45deg;
            }
            &:nth-child(3) {
                rotate: -45deg;
                aspect-ratio: 1 / 2;
            }
        }
        &:nth-child(1) {
            --r: 1;
        }
        &:nth-child(2) {
            --r: 2;
        }
        &:nth-child(3) {
            --r: 3;
        }
        &:nth-child(4) {
            --r: 4;
        }
        &:nth-child(5) {
            --r: 5;
        }
        &:nth-child(6) {
            --r: 6;
        }
        &:nth-child(7) {
            --r: 7;
        }
        &:nth-child(8) {
            --r: 8;
        }
    }
}