:root {
    --snowflake: lightblue;
    --size: 5px;
}

.snowflake {
    display: grid;
    place-items: center;
    translate: 0 -100vh;
    animation: 5s fall linear infinite;
    & .part {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        transform-origin: bottom;
        rotate: calc(60deg * var(--pos));

        div {
            grid-column: 1;
            grid-row: 1;
            background-color: var(--snowflake);
            width: var(--size);
            aspect-ratio: 1 / 6;
            border-radius: var(--size);
            transform-origin: bottom;

            &:nth-child(2) {
                aspect-ratio: 1 / 2;
                rotate: 45deg;
            }

            &:nth-child(3) {
                aspect-ratio: 1 / 2;
                rotate: -45deg;
            }
        }

        &:nth-child(1) {
            --pos: 0;
        }

        &:nth-child(2) {
            --pos: 1;
        }

        &:nth-child(3) {
            --pos: 2;
        }

        &:nth-child(4) {
            --pos: 3;
        }

        &:nth-child(5) {
            --pos: 4;
        }

        &:nth-child(6) {
            --pos: 5;
        }
    }
}

@keyframes fall {
    to {
        translate: 0 100vh;
    }
}