:root {
    --size: 300px;
    --fireplace: #A2472E;
    --fireplace-dark: color-mix(in srgb, var(--fireplace) 80%, black);
}

.fireplace {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .top, .bottom {
        background-color: var(--fireplace-dark);
        width: var(--size);
        aspect-ratio: 6;
    }

    & .middle {
        width: calc(var(--size) * 0.9);
        aspect-ratio: 1;
        background-color: var(--fireplace);
        display: flex;
        align-items: end;
        justify-content: center;
        & .atre {
            display: flex;
            justify-content: center;
           align-items: end;
            background-color: black;
            width: 70%;
            aspect-ratio: 1;
            border-radius: 50% 50% 0 0;
            & .fire {
                width: 20%;
                aspect-ratio: 1 / 2;
                background: radial-gradient(circle at bottom, red, orange, yellow);
                border-radius: 11% 89% 40% 60% / 6% 90% 10% 94% ;
                rotate: 10deg;
                scale: 1.5;
                transform-origin: center bottom;
                animation: fire var(--duration, 1.5s) linear infinite alternate-reverse;
                &:nth-child(1) {
                   rotate: -5deg;
                   scale: 1.3;
                   translate: 50%;
                }
                &:nth-child(2) {
                    --duration: 2.5s;
                }
                &:nth-child(3) {
                    translate: -30%;
                    scale: 1.2;
                    --duration: 2s;
                    rotate: 15deg;
                }
            }
        }
    }

    .bottom {
        aspect-ratio: 10;
    }
}

@keyframes fire {
    to {
        border-radius: 29% 71% 28% 72% / 49% 82% 18% 51% ;
    }
}