:root {
    --size: 300px;

}

.sweat {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: var(--size);
    aspect-ratio: 1;
    background: repeating-linear-gradient(to bottom, var(--xmas-green) 10% 20%, var(--xmas-red) 20% 40%);
    border-radius:  30% 30% 0 0/ 50% 50% 0 0;
    clip-path: polygon(0 -10%, 100% -10%, 100% 100%, 85% 100%, 80% 50%, 75% 100%, 25% 200%, 20% 50%, 15% 100%, 0 100%);

    border-block-end: calc(var(--size) / 10) solid var(--xmas-green);
    border-image: repeating-linear-gradient(to right, black 1px 3px, var(--xmas-green) 3px 10px) 1;


    .col {
        width: calc(var(--size) / 3);
        aspect-ratio: 3;
        background: repeating-linear-gradient(to right, black 1px 3px, var(--xmas-green) 3px 10px);
        translate: 0  -50%;
        border-radius: 25%;
    }
}