:root {
    --size: 50px;
    --fixation-size: calc(var(--size) * 0.7);
    --fixation: black;
}

.garland {
    display: flex;
    gap: var(--size);

    & .light {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-origin: center calc(100% - (var(--fixation-size) / 4));


        & .bulb {
            width: var(--size);
            aspect-ratio: 1 / 2;
            background: linear-gradient(to right, white -30%, var(--color), black 150%) ;
            border-radius: 100% 100% 50% 50%;
        }


        & .fixation {
            width: var(--fixation-size);
            aspect-ratio: 2;
            background-color: var(--fixation);

            &::before {
                --cable-height: 5px;
                content: "";
                display: flex;
                width: calc(var(--size) * 2);
                height: var(--cable-height);
                background-color: var(--fixation);
                margin-block-start: calc(var(--fixation-size) / 4 - var(--cable-height) / 2);
            }
        }

        &:nth-child(odd) {
            scale: 1 -1;
        }

        &:nth-child(1) {
            --color: var(--xmas-red);
        }

        &:nth-child(2) {
            --color: var(--xmas-green);
        }

        &:nth-child(3) {
            --color: blue;
        }

        &:nth-child(4) {
            --color: yellow;
        }


    }

    &:hover .bulb {
        filter: brightness(130%);
        box-shadow: 0 calc(var(--fixation-size) * -0.5) 50px 10px var(--color);
    }
}